@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
  background-color: #2b2c28;
}

body {
  width: 100vw;
  height: 100vh;
  color: #f9f9f9;
}

#app-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 100%;
}

textarea {
  background-color: #3d3d3d;
  height: 100px;
  resize: none
}

/*////////// global styling above //////////////////////*/

header {
  height: 10vh;
  min-height: max-content;
  width: 100%;
  /* position: fixed; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  /* min-height: max-content; */
  min-height: 2.2em;
  font-size: 1.7em;
}

.nav-mid {
  display: flex;
  font-size: 1em;
  height: 100%;
}

.nav-prof {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  height: 100%;
}

.nav-prof h3 {
  font-size: 0.95em;
}

a {
  text-decoration: none;
  color: #f9f9f9;
}

.icon {
  display: flex;
  align-items: center;
  margin: 0 0.5em;
}

.nav-prof a {
  padding-top: 3%;
}

.active .icon {
  color: #c32f27;
}

#logo img,
a,
.nav-prof h3,
.nav-mid,
.icon,
.nav-prof,
.navbar {
  background-color: #000000;
}

/*////////// navbar styling above //////////////////////*/

#home-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 60vw;
  height: 60vh;
}

#home-form-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#sign-up-form,
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.8s;
}

#sign-up-form {
  transform: perspective(1000px) rotateY(0deg);
}

#login-form {
  transform: perspective(1000px) rotateY(-180deg);
}

.rotated > #sign-up-form {
  transform: perspective(1000px) rotateY(180deg);
}

.rotated > #login-form {
  transform: perspective(1000px) rotateY(0deg);
}

#up-or-in-btn {
  position: absolute;
}

#sign-up-form span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
  padding-right: 15%;
  margin: 2% 0;
}

label {
  margin-right: 2%;
}

#sign-up-form button {
  margin-top: 1%;
}

#login-form button {
  margin-top: 3%;
}

/*////////// home styling above //////////////////////*/

#feed-container {
  width: 100%;
  height: 100%;
}

.feat-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.feat-card-container {
  display: flex;
  flex-direction: column;

  width: 25%;
  height: 40%;
  margin: 1% 2%;
}

.feat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgb(6, 6, 6) inset,
    -1px -1px 3px 0px #676767 inset;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 1% 1%;
}

.feat-card,
.feat-card h2,
.feat-card h3,
.feat-card p,
.feat-card img {
  background-color: transparent;
}

.feat-card h2,
.feat-card h3,
.feat-card p,
.feat-card img {
  width: 100%;
  height: 8%;
  text-align: center;
}

.feat-card:hover {
  /* transform: scale(1.1); */
  box-shadow: 3px 3px 5px 4px rgb(6, 6, 6), -3px -3px 5px #676767;
}

.feat-card:hover h2 {
  color: #c32f27;
  font-size: 2em;
}

.fc-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-top: 2%;
  width: 100%;
}

.fc-button-container span:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-right: 1px solid black;
  width: 50%;
}

.fc-info > p {
  padding: 0px 75px 0px 75px;
  font-size: 15px;
  margin: 3%;
}

.user-name {
  font-size: 25px;
  margin-bottom: 10px;
}
.user-like, .user-comment {
  color: #c32f27;
}
/* .feat-card #feat-descript {
  overflow: hidden;
} */

/*////////// feed and feat-card styling above //////////////////////*/

.feat-detail-page {
  width: 100%;
  height: 100%;
}

.feat-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  width: 100vw;
}


.feat-detail {
  margin: 1%;
  background-color: #c32f273e;
  border-bottom: 3px solid #c32f27
}

.feat-detail > * {
  background-color: #c32f2700;
}

#fd-user-name {
  color: #c32f27;
  font-size: 20px;
}

.user-info, .user-info > * {
  background-color: #b0b0b086;
  width: 100vw;
  height: 50px
}



#user-info-container,
#feat-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 25vh;
} 

.fd-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 25vh;
  width: 100vw;
}

.fd-comment-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

.fd-comment-feed * {
  margin-bottom: 20px;
}

/*////////// feat detail styling above //////////////////////*/

#comment-info-form {
  display: flex;
  flex-direction: column;

}

.com-card-form-container {
  width: 100%;
  height: 40%;
}

.comment-card {
  width: 100%;
  height: 70%;
}

.comment-info {
  width: 100%;
  height: 75%;
}

.comment-likes {
  width: 100%;
  height: 15%;
}

.comment-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30%;
}

.edit-btn,
.delete-btn {
  max-height: 100%;
  padding: 0.25em 0.7em;
  border: 0.16em solid #dddddd;
  border-radius: 5px;
  margin: 0 0.3em 0 0;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9f9f9;
}

/*////////// comment card styling above //////////////////////*/
.btn {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #dddddd;
  border-radius: 5px;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9f9f9;
}

.btn:hover {
  color: #c32f27;
  border-color: #ab888a;
}

/*////////// create feat button styling above //////////////////////*/

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

form * {
  color: #f9f9f9;
}

#preview {
  width: 230px;
  height: 200px;
}
/*////////// form styling above //////////////////////*/
