@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*////////// global styling above //////////////////////*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #0e2c45;
  padding: 1em;
  min-height: 2em;
}

.nav-mid {
  display: flex;
  /* font-size: 2em; */
}

.nav-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2em;
}

.icon {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.nav-prof {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active .icon {
  color: #f2bd73;
}

/*////////// navbar styling above //////////////////////*/

#home-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 60vw;
  height: 60vh;
  /* border: 1px solid black;
  background-color: transparent; */
}

#home-form-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#sign-up-form,
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.8s;
}

#sign-up-form {
  transform: perspective(1000px) rotateY(0deg);
}

#login-form {
  transform: perspective(1000px) rotateY(-180deg);
}

.rotated > #sign-up-form {
  transform: perspective(1000px) rotateY(180deg);
}

.rotated > #login-form {
  transform: perspective(1000px) rotateY(0deg);
}

#up-or-in-btn {
  position: absolute;
}

#sign-up-form span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
  padding-right: 15%;
  margin: 2% 0;
}

label {
  margin-right: 2%;
}

#sign-up-form button {
  margin-top: 1%;
}

#login-form button {
  margin-top: 3%;
}

/*////////// home styling above //////////////////////*/

.feat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4em;
  justify-content: center;
  margin: 50px 50px;
  text-align: center;
}

.feat-card {
  flex: 1 1 21res;
  margin: 10px 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* transition: 0.5s; */
}
.feat-card:hover {
  /* transform: scale(1.1); */
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

/*////////// feat-card styling above //////////////////////*/

.btn {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #dddddd;
  border-radius: 5px;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  color: #0e2c45;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 550;
}

.btn:hover {
  color: #ab888a;
  border-color: #ab888a;
}

/*////////// create feat button styling above //////////////////////*/
