* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#home-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50vw;
  height: 50vh;
  border: 1px solid black;
  background-color: transparent;
  perspective: 1000px;
}

#home-form-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#sign-up-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
